<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.nash.showtime" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ShowtimeApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.view.impl.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.view.impl.MovieDetailActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ui.view.impl.AboutActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ui.view.impl.LoginActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ui.view.impl.FeatureRequestActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ui.view.impl.PersonActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ui.view.impl.ReviewActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ui.view.impl.ReviewListActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ui.view.impl.PersonListActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ui.view.impl.SettingsActivity"
            android:label="@string/app_name" >
        </activity>
    </application>

</manifest>
